@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Fredoka', sans-serif;
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 80%;
  max-width:1200px;
  margin: 30px auto;
}

/* utility */
.debug{
  background-color: rgba(255, 0, 0, .25);
  border: 1px solid black;
}

/* HEADER */

#header{
  text-align: center;
  margin-bottom:40px;
}

h1{
  color: #E53170;
}

/* MAIN */

main{

}

main>p{
  text-align: center;
  font-size:18px;
  margin-bottom: 20px;
  padding-right: 30px;
}

/* ROW & COL*/ 

.row{
}

.row .col{
  background-color:#0F0E17;
  width: calc((100% - 90px)/ 3);
  height: 100px;
  float: left;
  margin: 20px 30px 20px 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.row .col .col-img,.col-desc{
  float: left;
  height: 100px;
}

.row .col .col-desc{
  padding: 15px;
}

.row .col .col-img img{
  height: 100px;
}

.row .col .col-desc h2,h3{
  color:white;
  margin-bottom: 3px;
}

.row .col .col-desc h2{
  font-size: 20px;
  text-transform: uppercase;
}

.row .col .col-desc h3{
  font-size: 16px;
  font-weight: lighter;
}

.row .col .col-desc .email{
  font-size: 14px;
  color:#52B5D6;
}

